@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco_Work.Core.ViewModel.ForgottenPasswordViewModel>

@{

}

@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You are already logged in!</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <p>
        An email has bent sent to the email address you provided. Please follow the instructions there in.
    </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<Umbraco_Work.Core.Controllers.AuthController>("HandleForgottenPassword"))
                {
                    <p>Enter your email and we will send you a link to reset your password</p>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new {placeholder="Email address"})

                    <button type="submit" class="btn btn-primary">Submit</button>
                }
                <a href="/login">Back to login</a>
            </div>
        </div>
    </div>
}
